.c-list {
  $root: &;

  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin: .4em 0;

    @at-root #{$root}#{$root}--bulleted #{&} {
      &::before {
        color: $blue;
        content: '\2022';
        font-weight: bold;
        margin-right: .6em;
      }
    }
  }
}
