#root,
html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: $link-color;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: $link-hover;
    opacity: 0.8;
  }

  &:active {
    color: $link-active;
  }
}

body {
  margin: 0;
  font-family: $font-family-primary;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $text-primary;
  text-rendering: optimizeLegibility;
}

// p {
//   font-size: 1rem;
//   margin-bottom: 0;
//   margin-top: 1em;

//   &:first-child {
//     margin-top: 0;
//   }
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-primary;
  margin-bottom: $spacing-2;
  margin-top: $spacing-4;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  line-height: $h1-line-height;

  @include media(desktop) {
    font-size: $font-size-5xl;
  }
}

h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  line-height: $h2-line-height;

  @include media(desktop) {
    font-size: $font-size-3xl;
  }
}

h3 {
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
  line-height: $h3-line-height;

  @include media(desktop) {
    font-size: $font-size-2xl;
  }
}

h4 {
  font-size: $h4-font-size;
  font-weight: $h4-font-weight;
  line-height: $h4-line-height;

  @include media(desktop) {
    font-size: $font-size-xl;
  }
}

h5 {
  font-size: $h5-font-size;
  font-weight: $h5-font-weight;
  line-height: $h5-line-height;

  @include media(desktop) {
    font-size: $font-size-lg;
  }
}

h6 {
  font-size: $h6-font-size;
  font-weight: $h6-font-weight;
  line-height: $h6-line-height;
}
