.c-input-with-button {
  $input-height: 3em;
  $input-h-padding: .5rem;

  display: flex;
  flex-grow: 1;

  @include use-one(form-large, media desktop) {
    align-items: flex-end;
  }

  &__suffix-icon {
    display: none;

    @include use-one(form-large, media desktop) {
      display: inline-block;
      width: 1.6em;
      margin-right: $input-h-padding;
    }
  }

  &__icon {
    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: var(--white);
      margin: auto;
    }

    &--valid {
      &::before {
        background-color: var(--green);
        content: '\2713';
      }
    }

    &--invalid {
      &::before {
        background-color: var(--fuzzy-wuzzy-brown);
        content: '\0021';
      }
    }

    &--small {
      &::before {
        width: 1.6em;
        height: 1.6em;
      }
    }

    &--large {
      &::before {
        width: 2em;
        height: 2em;
      }
    }

    &--with-border {
      &::before {
        border: 2px solid var(--white);
      }
    }
  }
}

