.create-writer {
  margin-top: 1em;
  background-color: silver;
  width: 100%;
}

.create-writer__input {
  padding: 0.6em 0.2em 0.6em 0.4em;
}

.create-writer__button {
  padding: 0.6em 0.2em 0.6em 0.4em;
}
