.full-width {
  width: 100%;
}

.list-item-detail {
  border-color: $default-border-color;
  border-width: $default-border-width;
  border-radius: $default-border-radius;
  border-style: solid;
  padding: 2em 4em;
  margin-bottom: 2em;
  display: flex;
  border: silver dashed 2px;
  
  &__wrapper {
    width: 100%;
  }

  &__row {
    padding: 0em 0em 1em 0em;
    margin: 0px 0px 0px 20px;
    border: red dashed 0px;
    width: 100%;
    &__button {
      display: flex;
      justify-content: flex-end;
      border: cyan solid 0px;
    }
  }

  &__icon {
    padding-left: 1em;
    width: 5em;
  }
}
