.book-list-item-detail {
  border-color: $default-border-color;
  border-width: $default-border-width;
  border-radius: $default-border-radius;
  border-style: solid;
  padding: 2em 4em;
  
  &__button {
    margin-top: 0.8em;
  }
}
