.book-list-item-detail {
  border-color: $default-border-color;
  border-width: $default-border-width;
  border-radius: $default-border-radius;
  border-style: solid;
  padding: 2em 4em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;

  &__label {
    padding: 0.8em 0 0 0;
    margin: 0;
    border: red solid 0px;
    white-space: pre-wrap;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-right: .5em;
    padding: 0.6em 0.2em 0.6em 0.4em;
    border: cyan solid 0px;
  }
}
