// Generic colors
$black: #000;
$white: #fff;

// Brand colors
$blue: #58b0c3;
$green: #63cc6c;
$orange: #f9aa55;
$red: #f74e1c;
$dark-grey: #313246;
$light-grey: #cacbd3;
$lighter-grey: #edf0f2;
$lightest-grey: #f5f7f8;

// Common
$link-color: darken($blue, 15%);

// Supporting colors
$yellow: #f7e51c;
$chestnut-rose: #d36262;
$fuzzy-wuzzy-brown: #c15454;

// Variations
$darken-light-grey-20: darken($light-grey, 20%);
$darken-light-grey-40: darken($light-grey, 40%);
