.book-list__listrow {
  display: flex;
  background-color: lightgrey;
  padding: 0.3em;
}

.book-list__id {
  width: 20%;
}
.book-list__title {
  width: 20%;
}
.book-list__yearPublished {
  width: 20%;
}
.book-list__yearRead {
  width: 20%;
}
.book-list__createdAt {
  width: 20%;
}