.Label {
  padding: 10px;
  background: none;
  cursor: crosshair;
  transition: color 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}
.Label_white {
  border: 1px solid #fff;
  color: #fff;
}
.Label_white:hover {
  color: #000;
  background: #fff;
}
.Label_red {
  border: 1px solid #fff;
  color: red;
}
.Label_red {
  border: 1px solid #fff;
  color: red;
}
.Label_black {
  border: 0px solid #000;
  color: #000;
}
.Label_black:hover {
  color: #fff;
  background: silver;
}
.Label_silver {
  border: 0px solid #000;
  color: silver;
}
.Label_silver:hover {
  color: black;
  background: silver;
}